# Git
.git
.gitignore

# Docker
.dockerignore
Dockerfile

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# 임시 파일들
tmp/
*.mp3
*.wav
*.flac
*.ogg

# 기타
.DS_Store
.idea/
.vscode/
*.swp
*.swo 